// Mixins Here

.flex() {
    display: flex;
}

.btn-styles(@bg-color, @color) {
    background: @bg-color;
    color: @color;
    font-size: 2rem;
    font-weight: bold;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    padding: 2% 0;
    cursor: pointer;
}