// Navigation code here
nav {
    text-align: center;
    
    .nav-links {
        .flex;
        justify-content: space-between;
        width: 50%;
        margin: 2% auto;
        

        a{
            text-decoration: none;
            color: black;
            font-size: 1.6rem;
        }
    }


}